::selection {
  background: #ff4c68;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: #8f8f8f
}

.container-fluid {
  padding: 7% 15%;
}

.color-bg {
  background-color: #ff4c68;
  color: white;
}

.white-bg {
  background-color: white;
  color: black;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

/* Title Section */

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.iphone-div {
  position: relative;
}

.title-img {
  /* This image is partially BEHIND the #features section */
  height: 175%;
  transform: rotate(25deg);
  position: absolute;
  left: 20%
}

/* Features */

#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 50%
}

/* Press Section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */

#cta {
  padding: 5% 15%;
}

.centered-button {
  margin: 3% 1.5% 0;
}

/* Footer Section */

#footer {
  padding-top: 4%;
  padding-bottom: 3%;
}

.socials-div {
  margin-bottom: 10px;
}

.social-button {
  color: black;
}

.social-icon {
  padding: 10px;
}
