::selection {
  background: #ff4c68;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f
}

.container-fluid {
  padding: 3% 15%;
}

#title {
  background-color: #ff4c68;
  color: white;
  height: 60%;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-img {
  width: 60%;
  transform: rotate(25deg);
}

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-img {
  width: 10%;
  border-radius: 50%
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}
